### Ignore everything and use this file as a white-list.

*

!app

!bootstrap
bootstrap/cache/*

!config
!database
!production

!public
public/hot
public/storage/*

!resources
!routes
!tests

!storage
storage/app/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/logs/*
storage/temp/*
storage/debugbar
storage/coverage

!composer.json
!composer.lock
!package.json
!package-lock.json
!artisan
!phpunit.xml
!.env.build
!tailwind.config.js
!webpack.mix.js
!server.php





### To keep some files ignored even inside un-ignored directories:

### Docker ###

/**/.dockerignore
/**/Dockerfile
/**/*.Dockerfile



### Laravel ###

.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log



### macOS ###

.DS_Store
/**/.DS_Store
.AppleDouble
/**/.AppleDouble
.LSOverride
/**/.LSOverride
Icon
/**/Icon
._*
/**/._*
.DocumentRevisions-V100
/**/.DocumentRevisions-V100
.fseventsd
/**/.fseventsd
.Spotlight-V100
/**/.Spotlight-V100
.TemporaryItems
/**/.TemporaryItems
.Trashes
/**/.Trashes
.VolumeIcon.icns
/**/.VolumeIcon.icns
.com.apple.timemachine.donotpresent
/**/.com.apple.timemachine.donotpresent
.AppleDB
/**/.AppleDB
.AppleDesktop
/**/.AppleDesktop
Network Trash Folder
/**/Network Trash Folder
Temporary Items
/**/Temporary Items
.apdisk
/**/.apdisk
