@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import 'fa.css';

@import 'utilities.pcss';

@import 'checkbox.pcss';
@import 'radio.pcss';
@import 'separator.pcss';

@import 'tailwindcss/screens';
