# Additional configuration for production MySQL instance.

[mysqld]

# Proper encoding and collation settings for a server.
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci

# Some heavy queries fail due to the low default size of general sort buffer.
sort_buffer_size = 16M

# TODO: Make sure logging works properly. This one was a bad attempt that didn't work:
#
### Proper logging for Docker in production.
# The target files here are symlinks to stdout/stderr created in the custom Dockerfile.
#
# Log errors to stderr.
#log_error = /var/log/mysql/log.err
# Log all queries to stdout.
#general_log_file = /var/log/mysql/log
#general_log = 1
# Log slow queries to stderr.
#slow_query_log = 1
#slow_query_log_file = /var/log/mysql/log.err
#long_query_time = 1 # Time in seconds after which a query is considered slow.

[client]
# Proper encoding for client session.
default-character-set = utf8mb4

[mysql]
# Proper encoding for databases.
default-character-set = utf8mb4
